<!DOCTYPE html>
<html>
    <head>
        <title>
            Forget Password!
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link  rel="stylesheet" href="/css/logPgsStyles.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
       

    </head>
    <body>
        <div class="row no-gutters ">
            
            <div class="col-md-6 no-gutters">
                <div class="leftside d-flex justify-content-center align-items-center" data-aos="zoom-in" >
                    <img src="/img/logPages/forgot password vector.svg" alt="Girl in a jacket" >
                   

                </div>
            </div>
        
            <div class="col-md-6 no-gutters" data-aos="fade-up" >
                <div class="rightside d-flex justify-content-center align-items-center">
                
                        <form action="#">
                            
                            <h1>Forgot password?</h1>
                            <p><b>please write your emial to receive a confirmation code to set a new password </b></p>
                            <input type="email" placeholder="Email"  />
                            <button>Sign Up</button>
                        </form>

                    
            
                </div>
            </div>
        </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/scripts.js"></script>

    </body>
</html>
