<!DOCTYPE html>
<html>
    <head>
        <title>
            New Pass
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link  rel="stylesheet" href="../public/css/logPgsStyles.css"/>
        <link rel="icon" href="../public/img/logo.ico" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    </head>
    <body>
        <div class="row no-gutters ">
            
            <div class="col-md-6 no-gutters" data-aos="fade-right">
                <div class="leftside d-flex justify-content-center align-items-center">
                    <img src="../public/img/logPages/forgot password vector.svg" alt="Girl in a jacket" >
                   

                </div>
            </div>
        
            <div class="col-md-6 no-gutters" data-aos="fade-left">
                <div class="rightside d-flex justify-content-center align-items-center">
                
                
                        <form action="#">
                            
                            <h1>New password</h1>
                            
                            <input type="password" placeholder="Password" />
                            <input type="password" placeholder="confirm Password" />
                            <button id="">chang</button>
                           
                        </form>
                
            
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../public/js/scripts.js"></script>
    </body>
</html>