<!DOCTYPE html>
<html>
    <head>
        <title>
           vertificatin 
        </title>
        
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link  rel="stylesheet" href="../public/css/logPgsStyles.css"/>
        <link rel="icon" href="../public/img/logo.ico" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    </head>
    <body>
        <div class="row no-gutters ">
            
            <div class="col-md-6 no-gutters" data-aos="zoom-in">
                <div class="leftside d-flex justify-content-center align-items-center">
                    <img src="../public/img/logPages/forgot password vector.svg" alt="Girl in a jacket" >
                   

                </div>
            </div>
        
            <div class="col-md-6 no-gutters" data-aos="fade-up">
                <div class="rightside d-flex justify-content-center align-items-center">
                
                    
                        <form action="#">
                            <h1>Enter the security code </h1>
                            <p><b>Verification code sent to :@mail </b></p>
                            <input type="text" placeholder="code" />
                            <button>SEND</button>
                        </form>
                    
            
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../public/js/scripts.js"></script>
    </body>
</html>